.updateemp{
    margin-top: 3%;
 
    width: 80%;
    font-size: 15px;
    font-weight: bold;
     align-content: center;
     margin-left: 5%;
}
#center{
    margin-left: 20%;
}
section{
    border: 1px ridge;
    margin-top: 5%;
 

}